
body {
  margin: 0px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

.hi {
  display: none;
}

header {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair-Display', sans-serif;
}

a {
  color: #e2574c;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #b1574c;
}

#header {
  z-index: 4;
  width: 100%;
  height: 108px;
  position: fixed;
  background-color: white;
}

.box-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-box {
  order: 1;
  width: 50%;
  display: flex;
}
.icon {
  height: 50px;
  align-items: center;
  margin: 10px;
  justify-content: flex-start;
}

.cart-box {
  order: 2;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}
.cart {
  align-items: center;
  height: 50px;
  margin: 10px;
}

.click-box {
  border-top: #D7d7d7 solid 1px;
  order: 3;
  width: 92%;
  display: flex;
  padding: 11px;
  justify-content: center;
}

.click {
  align-items: center;
  justify-content: center;
  margin: 0;
}

.clack {
  display: inline;
  font-size: 13px;
  font-family: 'Raleway-bold', sans-serif;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase; 
}

#banner {
  padding-top: 110px;
  width: 100%;
  display: flex;
}

.banner-bg {
  width: 100%;
  background-image:  url('../images/banner-girl.png'), url('../images/flower-bkgd.jpg');
  height: 400px;
  background-position: center 60px, center top;
  background-repeat: no-repeat, no-repeat;
  background-size: 150px, cover;
  display:flex;
  z-index: 3;
}

.banner-text-box {
  position: relative;
  height: 400px;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
}

.banner-text {
  text-align: center;
  z-index: 1;
  justify-content: center;
  align-content: center;
  color: white;
  flex-basis: 100%;
  flex-wrap: wrap;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
}

.banner-text p {
  text-transform: uppercase;
  font-family: 'Raleway-bold', sans-serif;
  flex-basis: 100%;
  font-size: 18px;
  font-weight: 500;
  z-index: 0;
}

.banner-text h2 {
  font-size: 35px;
  flex-basis: 76%;
  font-weight: 300;
  margin: 0px;
  z-index: 0;
  line-height: 0.9;
}

#handy {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 3;
  margin-top: 4em;
  padding-left: 5%;
  padding-right: 5%;
}

#handy h3 {
  font-family: Playfair Display-bold;
  font-size: 2.5em;
  width: 100%;
  margin-bottom: 0;
}

.handy {
  font-family: Playfair Display-italic;
  font-weight: 300;
}

#handy p {
  font-size: 1.1em;
  line-height: 2;
  margin-top: 1em;
  margin-bottom: 60px;
}

#categories {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
/*
.t-image {
  width:100%;
}*/




.rectangle {
  z-index: 0;
  width: 100%;
  flex-basis: 100%;
  padding-top: 50%;
  position: relative;
  box-sizing: border-box;
}

.square {
  z-index:0;
  width: 50%;
  padding-top: 50%;
  position: relative;
  box-sizing: border-box;
}

.rectangle.one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/mens-category.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid white;
}

.square.two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/trends-category.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  margin: 0px;
}

.square.three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/glasses-category.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  margin: 0px;
}

.square.four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/sale-category.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  margin: 0px;
}

.square.five {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/bags-category.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  margin: 0px;
}

.rectangle.six {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/womens-category.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid white;
}

.cat-text a {
  color: white;
  font-size: 1.5em;
  font-family: Raleway-bold;
  font-weight: 200;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.cat-text a:hover {
  color: #F4E98C;
}

/* .main-carousel { */

   /* aside {
  width:fit-content;
}  */

#lovely {
  text-align: center;
  margin-top: 4em;
  padding-left: 5%;
  padding-right: 5%;
}

#lovely h3 {
  font-family: Playfair Display-italic;
  font-weight: 300;
  font-size: 2.5em;
}

.products {
  font-family: Playfair Display-bold;
  font-weight: 500;
}

.main-carousel {
  margin-bottom: 100px;
}

.carousel-cell {
  width: 100%;
  height: auto;
  transform: translate(9.5%,0%); 
  margin-right: 10px;
  border-radius: 5px;
}

.car-pic {
  width: 80%;
  height: auto%;
  left: 50%;
  transform: translate(0.5%,0%);
}

.car-cat {
  font-size: 10px;
  font-weight: 600;
  font-family: 'Raleway-bold';
  color: #969696;
  text-transform: uppercase;
  text-align: center;
  transform: translate(-9.5%,0%);
  margin-bottom: 4px;
}

.car-lab {
  font-size: 21px;
  color: #e2574c;
  font-weight: 100;
  text-align: center;
  transform: translate(-9.5%,0%);
  margin-top: 8px;
  margin-bottom: 0px;
}

.car-dollas {
  font-size: 14px;
  color: #969696;
  font-family: 'Raleway-bold';
  font-weight: 500;
  text-align: center;
  margin-top: 0px;
}
.car-dollas.cc{
  transform: translate(-9.5%,0%); 
  margin-top: 24px;
  font-family: 'Raleway-bold';
  font-weight: 500;
  margin-bottom: 60px;
}


#subscribe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/wave-bkgd.jpg');
  height: 350px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 150px cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
}

#subscribe h5 {
  font-size: 2.5em;
  font-family: Playfair Display-italic;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}

.update {
  font-family: Playfair Display-bold;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
}

#subscribe p {
  display: inline-block;
  font-size: 1.1em;
  line-height: 2;
  margin-top: 1em;
  padding: 0 5%;
}

#foot {
  align-content: center;
  background-color: #242424;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  margin-top: 10px;
  padding-top: 20px;
  width: 100%;
}

.foot-head {
  display: block;
  margin:8px;
  text-align: center;
  line-height: 0;
  font-size: 1em;
  width: 91%;
}

.foot-head.cc {
  padding-top: 40px;
  width: 102px;
  margin-bottom: 40px;
  font-size: 1.1em;
  margin-left: -35px;
  padding-right: 35px;
}

.foot-head .hide {
  display: none;
}

.foot-soc {
  width: 100%;
  padding: 0;
}

 .foot-list {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 0;
} 

.foot-li {
  display: inline;
  padding: 10px;
}
.foot-li span {
  display: none;
}

.foot-add {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #969696;
}

#foot a {
  color: white;
  text-decoration: underline;
  font-family: 'Playfair Display-bold';
  font-weight: 700;
}

#foot a:hover {
  color: #b1574c;
}






/*Begin code for tablet screens*/
@media (min-width: 600px){
  body {
    font-size: 16px;
  }

    #header {
      height: 90px;
  }

  .box-head {
    flex-wrap: nowrap;
    align-content: center;
  }

  .icon-box {
    width: 15%;
    padding-top: 10px;
  }

  .icon {
    width: 100%;
  }

  .cart-box{
    order: 3;
    width: 15%;
    padding: 8px;
    padding-right: 6px;
  }

  .click-box {
    border: 0;
    order: 2;
    width: 70%;
    padding: 0;
    margin-top: 20px;
  }

  .click {
    padding: 0;
    display: flex;
  }

  .clack {
    padding: 5%;
    font-size: 0.9em;
  }

  #banner {
    padding-top: 90px;
  }

  .banner-bg {
    background-size: 150px, cover;
  }

  .banner-text p{
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .banner-text h2 {
    font-size: 3em;
  }

  #handy p {
    font-size: 1.11em;
  }

  .rectangle {
    flex-basis: 50%;
    padding-top: 25%;
  }

  .square {
    flex-basis: 25%;
    padding-top: 25%;
  }

  .rectangle.one {
    border-right: 4px solid white;
  }

  .square.two {
    border-top: 0px solid white;
    border-left: 4px solid white;
    border-right: 0px solid white;
  }

  .square.three {
    border-top: 0px solid white;
    border-left: 8px solid white;
  }

  .square.four {
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    border-right: 8px solid white;
  }

  .square.five {
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    border-right: 4px solid white;
  }

  .rectangle.six {
    border-left: 4px solid white;
  }

  .carousel-cell {
    width:50%;
  }

  .car-pic {
    transform: translate(11%,0%);
    width: 65%;
  }

  .car-cat {
    font-size: 0.75em;
    font-weight: 600;
  }

  .car-dollas {
    font-size: 0.8em;
  }
  .car-dollas.cc {
    font-size: 1.05em;
  }

  #subscribe p {
    font-size: 1.15em;
    padding: 0 2%;
  }

  #foot {
    flex-direction: column;
    height: 200px;
    padding: 50px 0px;
    align-content: space-around;
  }

  .foot-head {
    text-align: left;
    margin: 0;
    padding-bottom: 16px;
    display: block;
    order: 1;
    font-size: 0.9em;
    width: 60%;
  }

  .foot-head.cc {
    width: 60%;
    margin: 0;
    font-size: 0.9em;
    padding: 16px 0 0 0;
  }
  .foot-head .hide {
    display: inline;
  }

  .foot-add {
    width: 75%;
    text-align: left;
    padding: 0;
    margin: 40px 0 0 0;
    order: 2;
    font-size: 0.9em;
  }

  .foot-soc {
    width: 15%;
    height: 300px;
    order: 3;
    padding:0;
  }

  .foot-list {
    display: block;
    justify-content: left;
    text-align: left;
    padding:0;
  }

  .foot-li {
    display: list-item;
    list-style-type: none;
    align-self: left;
    padding: 5px 0 6px 0;
  }

  .foot-li span {
    display: inline;
    font-family: 'Raleway';
    font-weight: 400;
  }

  #foot .foot-li a {
    text-decoration: none;
  }


}


/*code for max-banner width end*/
@media (min-width:620px) {
  .banner-bg {
    background-repeat: no-repeat, repeat;
  }
}

@media (min-width: 720px) {
  #subscribe p {
    align-self: center;
    max-width: 710px;
  }
}

@media (min-width: 827px) {
  #handy p {
    left: 50%;
    align-self: center;
    max-width: 650px;
  }
}

/*begin code for desktop screens*/
@media(min-width: 1240px){

  .icon-box {
    width: 15%;
  }

    .icon {
      width: 160px;
      height: 60px;
  }

    .cart-box {
      width: 15%;
      height: 60px;
  }

  .cart {
    width: 60px;
    height: 60px;
  }

  .clack {
    padding: 5%;
    font-size: 0.95em;
    font-weight: 700;
  }

  .banner-bg {
    height: 510px;
    width: 100%;
    background-position: center 60px, center top;
    background-repeat: no-repeat, repeat;
    background-size: 250px, contain;
  }

  .banner-text-box {
    height: 510px;
  }

  .carousel-cell {
    width: 25%;
  }

  .car-pic {
    width: 85%;
    transform: translate(-2.5%, 0);
  }
  
  .foot-soc {
    width: 10%;
  }

}